* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background-color: rgb(255, 255, 255);
  width: 15px;
  border: 1px solid rgb(49, 80, 170);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(30, 49, 107);
  border-radius: 10px;
}

body {
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.head {
  background-color: rgb(135, 150, 118);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  height: 20vh;
  color: white;
  gap: 1rem;
}

.main {
  display: flex;
  height: 100vh;
  width: 80%;
  margin: auto;
  padding-top: 5rem;
}

.shop {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  height: fit-content;
}

.item {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(49, 80, 170);
  box-shadow: 0px 5px 10px 5px rgba(128, 128, 128, 0.185);
  gap: 1rem;
  width: 300px;
}

.details {
  padding: 1rem;
}

.name {
  font-size: large;
  color: rgb(49, 80, 170);
}
.price {
  font-size: medium;
}
.shop p {
  color: rgb(46, 46, 46);
}
.btns {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.qty {
  width: 15%;
  /* padding: 3px; */
  border-radius: 5px;
  border: 1px solid royalblue;
  font-size: 1.1rem;
  text-align: center;
  color: gray;
}

.add {
  background-color: rgb(49, 80, 170);
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: white;
  transition: all 200ms;
  border: 1px solid transparent;
}
.add:hover {
  box-shadow: 0px 10px 15px 5px rgba(128, 128, 128, 0.192);
  cursor: pointer;
  background-color: rgb(65, 105, 225);
}

.cartIcon {
  position: fixed;
  top: 20px;
  right: 50px;
  z-index: 99;
  background-color: rgb(49, 80, 170);
  padding: 1rem;
  border-radius: 10px;
}

.cartIcon .icon > img {
  width: 30px;
  filter: invert(100%);
}
.cartIcon:hover {
  cursor: pointer;
}
.cart {
  background-color: rgba(155, 175, 132, 0.877);
  width: 400px;
  height: 100%;
  padding: 1rem;
  position: fixed;
  top: 0;
  right: -400px;
  padding-top: 5rem;
  border: 1px solid gray;
  box-shadow: 100px 0px 50px 100px rgba(128, 128, 128, 0.349);
  transition: all 500ms;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: scroll;
  backdrop-filter: blur(8px);
}
.cartItem {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  background-color: white;
  box-shadow: 0px 5px 10px 5px rgba(128, 128, 128, 0.185);
  padding: 1rem;
  border: 1px solid rgb(49, 80, 170);
}
.cartItem > img {
  width: 100px;
  object-fit: contain;
}

.remItem {
  margin: auto;
}

.rem {
  background-color: rgb(49, 80, 170);
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: white;
  transition: all 200ms;
  border: 1px solid transparent;
  margin: auto;
}
.rem:hover {
  box-shadow: 0px 10px 15px 5px rgba(128, 128, 128, 0.192);
  cursor: pointer;
  background-color: rgb(65, 105, 225);
}

.counter {
  color: rgb(65, 105, 225);
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding-top: 3px;
  text-align: center;
  font-size: medium;
  position: absolute;
  top: -5px;
  right: 0;
  pointer-events: none;
}

.grandTotal {
  color: white;
}

.itemDetails > h2 {
  color: rgb(49, 80, 170);
}
.itemDetails > h2,
h3 {
  font-size: medium;
}

.animate {
  animation: added 200ms ease-in-out;
}

@keyframes added {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.dimmer {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.575);
}
