* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #9e4e03; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffd452,
    #9e4e03
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffd452,
    #9e4e03
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(235, 183, 119);
  position: fixed;
  width: 100%;
  align-items: center;
  height: 50px;
  padding: 0 1rem;
}
.logo {
  width: 30px;
  border-radius: 50%;
  border: 2px solid black;
  padding: 2px;
}

nav > ul {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
  padding-right: 1.5rem;
}

li {
  padding: 5px;
  border-radius: 10px;
  border: 2px solid rgb(235, 183, 119);
  font-weight: bold;
}

li:hover {
  background-color: wheat;
  border: 2px solid rgb(219, 141, 46);
}

.container {
  display: flex;
  width: 80%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: auto;
}
.input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 200px;
  border: 2px solid rgb(235, 183, 119);
  border-radius: 10px;
  box-shadow: 10px 20px 20px 5px rgba(0, 0, 0, 0.266);
  padding: 2rem;
  background-color: bisque;
}

.input > input {
  height: 30px;
  border-radius: 10px;
  padding-left: 5px;
  border: 2px solid rgb(235, 183, 119);
}

input:focus {
  outline: 0;
  border: 2px solid rgb(219, 141, 46);
}

.btn {
  height: 30px;
  border-radius: 10px;
  background-color: rgb(235, 183, 119);
  border: 2px solid rgb(219, 141, 46);
  font-weight: bold;
  font-size: 1rem;
  transition: all 500ms;
}
.btn:hover {
  box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.196);
  cursor: pointer;
}

img {
  width: 150px;
  margin: auto;
}

footer {
  width: 100%;
  height: 50px;
  background-color: bisque;
  justify-content: center;
  display: flex;
  align-items: center;
}
