* {
  margin: 0;
  padding: 0;
  color: rgb(35, 35, 34);
}

.main {
  display: flex;
  gap: 100px;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 100px;
}

.controller {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;
  gap: 20px;
  position: fixed;
  background-color: rgb(112, 147, 200);
  align-items: center;
  justify-content: center;
}

input {
  padding: 10px;
  background-color: rgb(151, 183, 234);
  border-radius: 10px;
  border: 0px;
}

button {
  padding: 10px;
  background-color: rgb(151, 183, 234);
  border-radius: 10px;
  border: 0px;
  font-weight: bold;
}
button:hover {
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.196);
  cursor: pointer;
}

.container > div {
  background-color: rgb(151, 183, 234);
  box-shadow: 5px 5px 5px 1px rgb(74, 73, 72);
}
h3 {
  text-align: center;
}
